<h1> Edit your runs here! </h1>
<form method="POST" action="/runs">
    Length: <input type="string" name="length"> <br>
    Date: <input type="date" name="date"> <br>
    Location: <input type="string" name="location"> <br>
    Description: <input type="string" name="description"> <br>
    <input type="submit" value ="Add run">
</form>