<h1> Add more runs here! </h1>
<form method="POST" action="/runs">
    Length: <input type="string" name="length" required> <br>
    Date: <input type="date" name="date" required> <br>
    Location: <input type="string" name="location" required> <br>
    Description: <input type="string" name="description" required> <br>
    <input type="submit" value ="Add run">
</form>