<h1>Log in</h1>
<form method="POST" action="/login">
    Username: <input type="text" name="user[username]" required><br>
    Password: <input type="password" name="user[password]" required><br>
    <input type="submit" value="Log in">
</form>