<h1>User Sign Up</h1>
<%= @errors %>
<form method="POST" action="/signup">
    Username: <input type="text" name="user[username]" required><br>
    Password: <input type="password" name="user[password]" required><br>
    <input type="submit" value="Sign Up">
</form>